/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================
   fonts
   ========================== */
@import url(http://fonts.googleapis.com/css?family=Handlee|Raleway);

body {
	font-family: 'Raleway', sans-serif;
}

html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

/* Modules will scale with document */
.header {
  font-size: 1.25rem;
}
.footer {
  font-size: 0.75rem;
}
.sidebar {
  font-size: 0.85rem;
}

/* Type will scale with modules */
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}




/* ==========================
   globals
   ========================== */

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}


p {
	margin: 8px 0px 15px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 20px 0px 15px;
	
}

a,
a:hover, 
a:focus {
	color: #3ec7c2;
}

.lead {
	font-size: 18px;
	margin-bottom: 0px;
}

.blocked {
	border-left: solid 10px #CCFF00; /* bright yellow */
	
}

.blocked p {
	padding-left: 30px;
	margin: 15px 0px;
}

/* buttons */
.btn {
	text-transform: uppercase;
	font-weight: bold;
	margin: 5px 0px;
}

.btn:hover {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.btn-yellow {
	background-color: #CCFF00;
	box-shadow: 2px 4px #BFEF02;
}

.btn-yellow:hover {
	background-color: #DAFF47;
}

.btn-dark {
	background-color: #282E33;
	box-shadow: 2px 4px #030E1F;
}

.btn-dark:hover {
	background-color: #203A51;
	color: #fff;
}

/* ==========================
   heading
   ========================== */
.jumbotron {
	background: #cccccc url("../img/streetart-swirl.jpg") no-repeat left center;  
}

.jumbotron .lb {
	padding: 10px 20px;
	background-color: rgba(250, 250, 255, 0.7);
}

.jumbotron h1 {
	color: #333; 
	font-size: 3.5em;
	font-weight: bold;
	text-shadow: 1px 1px #0A0A0A;
}

.jumbotron p {
	font-family: 'Handlee', cursive;
	font-size: 1.2em;
	font-weight: bold;
	
}


/* ==========================
   body
   ========================== */

section {
	padding: 15px 0px;
}

.col-md-8 h2 {
	font-family: 'Handlee', cursive;
}

/* ==========================
   panel
   ========================== */



.panel-title {
	font-size: 1.5em;
}

.panel-title a:hover {
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-ms-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
	color: #fff;
	text-decoration: none;
}


.panel-body {
	background-color: #fff;
}

.panel-default>.panel-heading {
	background-image: none;
	background-color: #3EC7C2;
}

/* ==========================
writing section
========================== */
.content a {
	
}

.content li {
	padding: 5px 0px 2px;
}

/* ==========================
   side nav
   ========================== */
img.sidebar {
    padding: 0px 50px;
}   

ul.sidebar {
	width: 300px;
	margin-top: 40px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.667);

}
ul.sidebar li {
	margin: 0;
	
}
ul.sidebar li:first-child {
	border-top: none;
}
ul.sidebar li a {
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
	color: #333;
}

ul.sidebar li a:hover {
	background: #3ec7c2;
	color: #fff;
}
ul.sidebar li.active a, ul.sidebar li.active a:hover {
	color: #fff;
	background: #3ec7c2;
}
ul.sidebar li:first-child a {
	border-radius: 4px 4px 0 0;
}
ul.sidebar li:last-child a {
	border-radius: 0 0 4px 4px;
}
ul.sidebar.affix {
	top: 20px;  /* Set the top position of pinned element */
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #fff;
}

/* ==========================
   footer
   ========================== */
.footer {
	margin-top: 40px; 
	padding: 20px 0px;
	background-color: #282E33; /* dark */
	color: #fff;
}

.footer .social {
	padding-bottom: 40px;
}

.footer a > i  {
	color: #fff;
}

.footer a > i:hover {
	color: #CCFF00;
	-webkit-transition: color 0.3s ease-in;
	-moz-transition: color 0.3s ease-in;
	-ms-transition: color 0.3s ease-in;
	-o-transition: color 0.3s ease-in;
	transition: color 0.3s ease-in;
}










